body {
  font-family: "Lexend", sans-serif;
  background-color: antiquewhite;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  border: 1px solid lightblue;
  margin: 4px;
  padding: 5px;
  background: rgb(255, 255, 255);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

img {
  width: 100px;
  height: 200px;
}

.card-head {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-decoration: underline;
}

.out {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 0, 0);
  padding-right: 5px;
}

.availability {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(35, 160, 35);
  padding-right: 5px;
}

.card-body {
  align-content: left;
  flex-direction: column;
  justify-content: left;
}

.bold {
  font-weight: bold;
}

footer {
  font-size: x-small;
  color: rgba(0, 0, 0, 0.349)
}

header {
  font-weight: bold;
}

img {
  width: 200px;
}
